<html>
<head> 
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="static/map.js"></script>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqucIl0BRboqsKNSnvImqrpEGf36uaZrA&callback=initMap">
  </script>
  <link rel="stylesheet" href="static/map.css" />
</head>
<body>
  <div id="map"></div>
  <input id="searchbox" />
  <div id="dropdown">
    <a hidden href="#" id="mcdonalds" class="option mcdonalds">McDonalds</a>
    <a hidden href="#" id="barbershop" class="option barbershop">Clean Cuts</a>
    <a hidden href="#" id="library" class="option library">Library of Worchestire</a>
  </div>
</body>
</html>
